<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?=\$this-&gt;form-&gt;submit(${1:'${2:Submit}'$3}); ?&gt;$0</string>
	<key>name</key>
	<string>$form-&gt;submit() (submit)</string>
	<key>scope</key>
	<string>text.html.php.lithium</string>
	<key>tabTrigger</key>
	<string>submit</string>
	<key>uuid</key>
	<string>4CAFB60C-2CA0-4177-97C3-561C00000000</string>
</dict>
</plist>
