<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?=\$this-&gt;html-&gt;image('${1:image.ext}', array('alt' =&gt; '${2:altText}'$3)); ?&gt;$0</string>
	<key>name</key>
	<string>$html-&gt;image() (image)</string>
	<key>scope</key>
	<string>text.html.php.lithium</string>
	<key>tabTrigger</key>
	<string>image</string>
	<key>uuid</key>
	<string>4CAFB3A1-64A0-492C-9DF6-55EA00000000</string>
</dict>
</plist>
