<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Completions</string>
	<key>scope</key>
	<string></string>
	<key>settings</key>
	<dict>
		<key>completions</key>
		<array>
			<string>__callStatic</string>
			<string>__construct</string>
			<string>__destruct</string>
			<string>__invoke</string>
			<string>_toArray</string>
			<string>_toObject</string>
			<string>applyFilter</string>
			<string>applyHandler</string>
			<string>applyStrategies</string>
			<string>assertCookie</string>
			<string>assertEqual</string>
			<string>assertFalse</string>
			<string>assertIdentical</string>
			<string>assertNoPattern</string>
			<string>assertNotEqual</string>
			<string>assertNull</string>
			<string>assertPattern</string>
			<string>assertTags</string>
			<string>assertTrue</string>
			<string>assignTo</string>
			<string>calculate</string>
			<string>calculation</string>
			<string>camelize</string>
			<string>canonicalize</string>
			<string>checkbox</string>
			<string>classify</string>
			<string>conditions</string>
			<string>configureClass</string>
			<string>contains</string>
			<string>decompose</string>
			<string>decrement</string>
			<string>dependencies</string>
			<string>describe</string>
			<string>disableCache</string>
			<string>disconnect</string>
			<string>encoding</string>
			<string>entities</string>
			<string>executable</string>
			<string>expectException</string>
			<string>formulate</string>
			<string>handlers</string>
			<string>hasApplied</string>
			<string>hasField</string>
			<string>humanize</string>
			<string>increment</string>
			<string>interactive</string>
			<string>invokeMethod</string>
			<string>isConnected</string>
			<string>isEnabled</string>
			<string>isNumeric</string>
			<string>isRunning</string>
			<string>isStarted</string>
			<string>matchToken</string>
			<string>modified</string>
			<string>normalize</string>
			<string>overwrite</string>
			<string>password</string>
			<string>pluralize</string>
			<string>preferred</string>
			<string>properties</string>
			<string>queryString</string>
			<string>redirect</string>
			<string>relations</string>
			<string>relationship</string>
			<string>renderCommand</string>
			<string>resource</string>
			<string>singularize</string>
			<string>strategies</string>
			<string>tableize</string>
			<string>tearDown</string>
			<string>template</string>
			<string>textarea</string>
			<string>tokenize</string>
			<string>translate</string>
			<string>underscore</string>
			<string>validates</string>
		</array>
	</dict>
	<key>uuid</key>
	<string>DDF54CE1-D849-40DE-A765-2676DB5263CB</string>
</dict>
</plist>
